DATABASE_URL="postgresql://postgres:postgres@localhost:5433/crm_portal?schema=public"
JWT_SECRET="troque_essa_chave"
PORT=3001
HOST=0.0.0.0
FRONTEND_URL="http://52.193.143.187:3000"
CORS_ORIGIN="http://52.193.143.187,http://52.193.143.187:3000,http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173"
