DATABASE_URL="postgresql://postgres:123456@localhost:5432/crm_portal?schema=public"

DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="crm_portal"
DB_USER="postgres"
DB_PASSWORD="password"

DATABASE_URL="postgresql://postgres:password@localhost:5432/crm_portal?schema=public"

JWT_SECRET="your_jwt_secret_here"


# JWT_SECRET é a chave secreta usada para assinar e verificar tokens JWT (JSON Web Tokens)
JWT_SECRET="dev_secret_123"


# Banco ssw busca informações de conexão no arquivo .env;

DB_HOST=bi.ssw.inf.br   
DB_PORT=5432
DB_NAME=db_b30ac54e85df3547
DB_USER=db_b30ac54e85df3547
DB_PASSWORD="db_b30ac54e85df3547"